<h3>{{ title }}</h3>
<section class="popular-slider">
  <div
    *ngFor="
      let show of popularShows$ | async | slice: 0:10;
      let i = index;
      let last = last
    "
    [ngClass]="{ 'last-child': last }"
  >
    <app-popular-card
      (mouseenter)="hoverShow = show"
      [show]="show"
      [rank]="i + 1"
    >
    </app-popular-card>
    <div class="hover__card" (mouseleave)="hoverShow = null">
      <app-movie-hover-card
        [show]="show"
        [ngClass]="hoverShow === show ? 'show-detail' : 'hide-detail'"
      ></app-movie-hover-card>
    </div>
  </div>
</section>
