@import '../../../assets/styles/mixins.scss';
@import '../../../assets/styles/colors';
.short-detail{
  width: 350px;
  height: 400px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid red;
  position: absolute;
  top: 50px;
  z-index: 5;
  background-color: $backgroundColor;
  color: $white;
  pointer-events: none;
  @include flex(column, flex-start, flex-start);

  .short-detail__poster{
    height: 200px;
    overflow: hidden;

    img{
      width: 350px;
      height: auto;
    }
  }
  .short-detail__info{
    height: 200px;
    @include flex(column, space-around, flex-start);

    .short-detail__title{
      margin-top: 10px;
    }
    p{
      padding-left: 15px;
    }

    ul{
      all: unset;
      margin-top: 15px;
      padding-right: 15px;
      flex-wrap: wrap;
      @include flex(row, flex-start, flex-start);

      span{
        padding-left: 15px;
      }

      li{
        all: unset;
        margin-left: 15px;
      }
    }
  }
}
