<div class="short-detail__container">
  <div class="short-detail">
    <div class="short-detail__poster">
      <img [src]="posterBaseUrl + movie.poster_path" alt="" />
    </div>
    <div class="short-detail__info">
      <h3 class="short-detail__title">{{ movie.title }}</h3>
      <p>release date: {{ movie.release_date }}</p>
      <ul>
        <span>Genres :</span>
        <p>{{ (video$ | async)?.id }}</p>
        <li *ngFor="let genre of movie.genre_ids | genres | async">
          {{ genre }}
        </li>
      </ul>
    </div>
  </div>
</div>
