@import '../../assets/styles/colors.scss';
@import '../../assets//styles//mixins.scss';

 .background--transparent{
    background-color: transparent;
    transition: background-color 0.5s ease;
  }

header{
  @include flex(row, space-between, center);
  box-sizing: border-box;
  background-color: $black;
  transition: background-color 0.5s ease;
  font-size: 10px;
  height: 45px;
  padding: 0 3%;
  position: fixed;
  width: 100%;

  .left-area{
    width: 35%;
    height: 100%;
    @include flex(row, space-between, center);

    img{
    height: 55%;
    width: auto;
    margin-right: 30px;
  }
  .desktop-menu{
    display: none;
  }
  .mobile-menu{
    @include flex(row, center, center );
    color: $white;
    position: relative;
  }
  .arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $white;
  margin-left: 5px;
}

.drop-down {
  position: absolute;
  top: 50px;
  left: -255%;
}
  }

  .right-area{
    width: 35%;
    height: 100%;
    @include flex(row, space-between, center);
    color: $white;

    .material-icons{
      font-weight: 100;
      font-size: 16px;
    }

    .notifications{
      position: relative;

      .notifications__alert{
        position: absolute;
        background-color: red;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        left: 8px;
        top: -1px
      }
    }

    img{
      height: 30px;
      width: auto;
      border-radius: 5px;
    }
  }
}

@media screen and (min-width: 885px){
  header{
     height: 70px;
     padding: 0 4%;
     font-size: 1vw;

     .left-area{
      width: 45%;

      img{
        height: 75%;
      }
       .mobile-menu{
         display: none;
       }

       .desktop-menu{
        margin-left: 2%;
        height: 100%;
        width: 100%;
        display: flex;

        ul{
          all: unset;
          width: 100%;
          @include flex (row, space-between, center)
        }

        li{
          list-style: none;
          color: $gray;
          cursor: pointer;
        }

        li.selected{
          color: $white
        }
       }
     }
     .right-area{
         width: 20%;

         .material-icons{
          font-size: 25px;
         }
         .notifications{
           .notifications__alert{
           left: 15px;
         }
         }

       }
  }
}
