<header>
  <div class="left-area">
    <img src="../../assets/Images/Netflix-Logo.png" alt="Netflix Logo" />
    <span class="mobile-menu">
      <span>Menu</span>
      <span class="arrow-down"></span>
      <app-header-menu class="drop-down"></app-header-menu>
    </span>

    <span class="desktop-menu">
      <ul>
        <li
          *ngFor="let option of menuOptions"
          (click)="onSelect(option)"
          [class.selected]="option === this.selectedOption"
        >
          {{ option }}
        </li>
      </ul>
    </span>
  </div>
  <div class="right-area">
    <app-search-bar class="desktop-option"></app-search-bar>
    <span class="desktop-option">INFANTIL</span>
    <span class="material-icons"> redeem </span>
    <span class="notifications">
      <span class="material-icons"> notifications </span>
      <span class="notifications__alert"></span>
    </span>

    <img
      src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/84c20033850498.56ba69ac290ea.png"
      alt="user icon"
    />
  </div>
</header>
