@import '../../assets/styles/colors.scss';
@import '../../assets//styles//mixins.scss';
header{
  @include flex(row, flex-start, center);
  box-sizing: border-box;
  background-color: $black;
  font-size: 10px;
  height: 45px;
  padding-left: 5%;
  position: fixed;
  width: 100%;

  img{
    height: 55%;
    width: auto;
    margin-right: 30px;
  }
  span{
    @include flex(row, center, center );
    color: white;

  }
  .arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  margin-left: 5px;
}
}
