@import '../../assets/styles/colors.scss';
@import '../../assets//styles//mixins.scss';
header{
  @include flex(row, space-between, center);
  box-sizing: border-box;
  background-color: $black;
  height: 45px;
  padding-left: 2%;
  position: fixed;
  width: 100%;

  img{
    height: 80%;
    width: auto;
  }
}
