@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/colors.scss';

.header-menu{
  width: 260px;
  background-color: $transparentBlack;
  font-size: 12px;
  font-weight: lighter;

  ul{
    width: 100%;
    all: unset;

    li{
      width: 100%;
      height: 50px;
      @include flex(column, center, center);

      a{
        text-decoration: none;
      }
    }
  }

}
