@import '../../../assets/styles/mixins.scss';
@import '../../../assets//styles//fonts.scss';

.popular__card{
    position: relative;
    min-width: 140px;
    height: 90%;
    margin-right: 5px;
    @include flex(row, flex-end, center);
    span{
      position: absolute;
      left: 5%;
      top: -20%;
      font-size: 150px;
      font-family: $numbers-font;
      font-weight: bolder;
      text-shadow: rgb(154, 164, 168) 3px 0px 0px, rgb(154, 164, 168) 2.83487px 0.981584px 0px, rgb(154, 164, 168) 2.35766px 1.85511px 0px, rgb(154, 164, 168) 1.62091px 2.52441px 0px, rgb(154, 164, 168) 0.705713px 2.91581px 0px, rgb(154, 164, 168) -0.287171px 2.98622px 0px, rgb(154, 164, 168) -1.24844px 2.72789px 0px, rgb(154, 164, 168) -2.07227px 2.16926px 0px, rgb(154, 164, 168) -2.66798px 1.37182px 0px, rgb(154, 164, 168) -2.96998px 0.42336px 0px, rgb(154, 164, 168) -2.94502px -0.571704px 0px, rgb(154, 164, 168) -2.59586px -1.50383px 0px, rgb(154, 164, 168) -1.96093px -2.27041px 0px, rgb(154, 164, 168) -1.11013px -2.78704px 0px, rgb(154, 164, 168) -0.137119px -2.99686px 0px, rgb(154, 164, 168) 0.850987px -2.87677px 0px, rgb(154, 164, 168) 1.74541px -2.43999px 0px, rgb(154, 164, 168) 2.44769px -1.73459px 0px, rgb(154, 164, 168) 2.88051px -0.838247px 0px;
    }
    img{
      z-index: 2;
      height: 120px;
      width: 85px;
    }
  }
@media screen and (min-width: 885px){
  .popular__card{
    min-width: 300px;
    margin-right: -60px;

    span{
      font-size: 220px;
      top: -20%;
      left: 30%;
    }

    img{
      height: 180px;
      width: 130px;
    }
  }
}
