
  $black : rgb(21,21,21);
  $transparentBlack: rgba(21,21,21,0.9);

  $backgroundColor: rgb(25,25,25);


  $white: rgb(255,255,255);
  $darkerWhite: rgb(229, 229, 229);
  $whiteHover: rgba(229, 229, 229, 0.8);

  $gray: rgb(173, 161, 161);
  $transparentGray: rgba(173,161,161,0.3);
  $grayHover: rgba(173,161,161,0.2);

