
  $black : rgb(21,21,21);
  $transparentBlack: rgba(21,21,21,0.9);

  $backgroundColor: rgb(25,25,25);
  $lighterBackgroundColor: rgb(30,30,30);
  $lightBackgroundColor: rgb(15,15,15);


  $white: rgb(255,255,255);
  $darkerWhite: rgb(210, 210, 210);
  $whiteHover: rgba(229, 229, 229, 0.8);

  $gray: rgb(173, 161, 161);
  $transparentGray: rgba(173,161,161,0.4);
  $grayHover: rgba(173,161,161,0.3);

  $green: rgba(70,190,80);

  $orange: rgba(229,103,23);

